services:
  - type: web
    name: tk-lk-django
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
    startCommand: gunicorn config.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "tk-lk.onrender.com"
      - key: AUTOGRAPH_API_BASE_URL
        value: "https://web.tk-ekat.ru"
      - key: AUTOGRAPH_API_TIMEOUT
        value: "30"