<!-- vehicles/templates/vehicles/statistics.html -->
{% extends 'base.html' %}

{% block title %}Статистика транспорта{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Статистика транспортных средств</h3>
                </div>
                <div class="card-body">
                    <p>Страница статистики работает!</p>
                    <p>API endpoints доступны для тестирования.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}